.box {
  font-family: 'Orbitron', sans-serif;
  width: 285px;
  height: 350px;
  margin: 15% auto auto;
  border: 1px solid #9e9b97;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset -1px -6px 12px 0.1px #89847e;
  border-radius: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.screen {
  height: 60px;
  width: 240px;
  border: 1px solid #7c877f;
  background: #c7d3c5;
  margin: 25px 20px 5px 20px;
  border-radius: 6px;
}

.main-screen {
  width: 240px;
  height: 22px;
  padding: 10px 5px;
  font-size: 20px;
  text-align: right;
}

.sub-screen {
  max-width: 280px;
  height: 15px;
  padding: 10px 5px;
  font-size: 12px;
  text-align: right;
}

.buttons {
  margin: 10px auto;
}

button {
  margin: 5px;
  padding: 3px 10px;
  width: 50px;
  height: 30px;
  border: none;
  box-shadow: 1px 2px #666;
}

button:focus {outline:0 !important;}

button:active {
  box-shadow: none;
  transform: translateY(4px);
}

.btn-zero {
  width: 113px;
  margin-right: 7px;
}

.btn-equal {
  position: absolute;
  margin-left: 10px;
  height: 75px;
}