@charset "uff-8";

body{
    overflow: hidden;
}
/*image with no-border*/

a img,img{border:0;}

a{text-decoration:none; color:#0098e0; outline:none; blr:expression(this.onFocus=this.blur())}

a:hover{text-decoration:underline;}

/*float*/

.l{float:left;}.r{float:right;}

/*clear float*/

.clearfix{*zoom:1;}.clearfix:after{content:"\200B"; display:block; height:0; clear:both;overflow:hidden; visibility:hidden; }

a.logo,a:visited.logo{background:url("../img/logo.png") no-repeat center center; background-size: 200px  60px;display:block;float:left;width:126px;height:51px;margin: 15px 26px 0 26px;}


/**nav**/
.navbar{
    z-index: 9999;
}

/*content*/
.top_bg{background:url(../img/bg.jpg) no-repeat center top;}

.header{ position:relative;width:960px;margin:0 auto;}

.head_img img{display:block;}

.btn0{position:absolute;top: 370px;left: 520px;}



/*footer*/
.footer{border-top:0; text-align:center; padding-bottom:30px; background:#fff;font-size: 18px; width:1033px;margin:0 auto;}
.footer .footer_link{height:22px; line-height:22px; color:#696969; padding:24px 0 6px;}
.footer .footer_link a{padding: 0 13px; color:#696969;}
.footer_tel{background:transparent url("../images/hd_ft.gif") no-repeat left -153px; width:161px; height:21px; display:inline-block; vertical-align:middle; margin-left:13px;}
.footer_cont, .footer_cont a { color: #999; margin: 15px 0; }
.footer_banner{margin-top:10px;}
.footer_main{height:90px; overflow:hidden; background:#f3f3f2 url("../images/newyrd/hd_ft.gif") no-repeat top center; height:90px; border-bottom:1px solid #e9e9e9; margin-bottom:20px; text-align:left;  color:#666; }
.footer_main a{color:#666;}
.footer_link_list{float:left; width:250px; margin-top:22px;}
.footer_link_list li{float:left; padding-left:13px; margin-bottom:10px;}
.footer_service{float:left; padding:50px 0 0 85px; width:193px;}



/***index.css**/
.footer{
    overflow-y: hidden;
    padding-bottom: 300px;
    margin-bottom: -300px;
}
.footer_cont{
    font-size: 13px;
}
.page-header{
    position: absolute;
    top: -10px;
    left:50%;
    width: 1200px;
    margin-left: -600px;
}
.btn0{
    position: absolute;
    right: 0;
    top: 45%;
    z-index: 9998;
}
.btn0 a{
    display: block;
    margin-left: 50px;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #f60;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,.1),5px 5px 10px 1px rgba(0,0,0,.1);
}